.starting-page{
    width: 100%;
    min-height: 100vh;
    background-color: @background-color;
    .content-wrapper{
        min-height: 92vh;
    }
    .app-footer{
        min-height: 8vh;
    }
}
