.footers {
  background-color: @edible-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  @media screen and (min-width: 1092px ) {
    padding: 0 8.5rem;
  }
  .footer-content-container{
    display: flex;

    .icon-wrapper{
      display: inline-flex;

      .footer-icon{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        width: 1.5rem;
      }
    }
  }
  .footer-label{
    color: white;
    float: right;
  }
}