.navbar-wrapper {
  .navbar-menu.is-active {
    animation: navAnim .7s;
}

@keyframes navAnim {
  0% {
    opacity: 0;
    transform: scale(0.5)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
  background-color: @edible-color;
  width: 100%;
  height: 100%;
  .navbar-burger{
    span{
      background-color: white;
    }
  }
  .search-box {
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  }
  .buttons {
    z-index: 100;
  }

  .navbar-item {
    margin: 0 1rem 0 1rem;
    a {
      text-decoration: none;
      @media screen and (max-width: 1092px) {
        color: black;
      }
    }
  }
  .vertical-separator{
    height: 1.2rem;
    width: 0.07rem;
    background-color: white;
    @media screen and (max-width: 1092px) {
      width: 1.2rem;
      height: 0.1rem;
      background-color: black;
    }
  }

}
