.login-page {
  .column{
    background-color: white;
    padding: 2rem;
    .default-border;
    box-shadow: @default-shadow;
  }
  .divider {
    h1::before,
    h1::after {
      content: " ";
      background-color: #bcbcbc;
      ;

      display: inline-block;
      height: 0.05rem;
      position: relative;
      vertical-align: middle;
      width: 7rem;
    }

    h1 {
      overflow: hidden;
      text-align: center;
    }
  }
  ul {
    display: block;
  }
}
