.preferences {
  .preference-text{
    @media screen and (max-width: 1092px) {
      font-size: 1.3rem;
    }
  }
  .preference-subtext{
    @media screen and (max-width: 1092px) {
      font-size: 0.8rem;
    }
  }
  .circle {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    background-color: #fff;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0.7rem;
    text-align: center;
    box-shadow: @default-shadow;

    @media screen and (max-width: 1092px) {
      height: 5rem;
      width: 5rem;
    }
  }
  
  .circle::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .circle:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .circle:hover::after {
      opacity: 1;
  }
  .circle {
    .img-wrapper{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-30%);
      width: 4.8rem;
      height: 4.8rem;
      @media screen and (max-width: 1092px) {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    .check-icon{
      height: 1rem;
      width: 1rem;
      position: absolute;
      top: 10%;
      left: 90%;
      transform: translate(-90%,-10%);
      opacity: 0;
    }
    .show-check{
      opacity: 1;
    }

    .smaller-text{
      font-size: 0.8rem;
    }
    .category-text{
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%,-92%);
      color: @font-color-1;
      font-size: 0.7rem;
      @media screen and (max-width: 1092px) {
        font-size: 0.6rem;
      }
    }
  }
}
