.profile-wrapper{
    .profile-card{
        background-color: white;
        box-shadow: @default-shadow;
        border-radius: 0.5rem;
        height: 10rem;
        position: relative;
        .profile-img{
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            margin: 1rem;
        }
        .user-text-info{
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-25%);
        }
    }
    .review-column{
        background-color: white;
        box-shadow: @default-shadow;
        border-radius: 0.5rem;
        height: 10rem;
        overflow: scroll;
        .individual-star{
            height: 1rem;
            width: 1rem;
        }
        .user-review{
            border: solid 2px @font-color-2;
            border-radius: 0.5rem;
            width: 100%;
            height: 7rem;
            position: relative;
            .profile-img{
                border-radius: 50%;
                width: 3rem;
                height: 3rem;
                margin: 1rem;
            }
            .clock{
                height: 0.6rem;
                width: 0.6rem;
                margin-right: 0.3rem;
            }
            .review-detail{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-25%,-50%);
                .review-date{
                    color: @font-color-2;
                }
                
            }
        }
        
    }
}