.recommend {
  .recommend-wrapper {
    padding: 2rem;
    padding-bottom: 0;
    .recommend-content{
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: @default-shadow;
      padding: 1rem 2rem 0.5rem 2rem;
      margin: 0 auto;
      @media screen and (max-width: 500px){
        padding: 0;
        .recommend-content-label {
          padding-top: 1rem;
          font-size: 1.2rem !important;
          text-align: center;
        }
        .content-image-wrapper {
          padding: 0;
          width: 80% !important;
          padding-bottom: 1rem;
        }
      }
      .recommend-content-label {
        font-weight: bold;
        color: @font-color-1;
        font-size: 1.5em;
        @media screen and (max-width: 1000px){
          .recommend-content-label {
            font-weight: bold;
            color: @font-color-1;
            font-size: 1rem;
          }
        }
      }
      
      .content-image-wrapper{
        width: 100%;
        margin: 0 auto;
        .content-image{
          margin: 1rem;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .img-container {
            width: 5rem;
            height: 5rem;
            margin: 0 auto;
            text-align: center;
            position: relative;
            @media screen and (max-width: 500px) {
              .img-container {
                width: 5rem;
                height: 5rem;
                margin: 0 auto;
                text-align: center;
              }
            }
            .img-wrapper{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
          .i-label{
            text-align: center;
            @media screen and (max-width: 1000px) {
              .img-container {
                width: 5rem;
                height: 5rem;
                margin: 0 auto;
                text-align: center;
              }
              text-align: center;
              font-size: 0.7rem;
            }
          }
        }
        
      }
    }
  }
}
