.top-picks{
  .top-picks-wrapper{
    padding: 2rem;
    padding-bottom: 0;
  }
  .top-picks-content{
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: @default-shadow;
    padding: 1rem 2rem 0.5rem 2rem;
    margin: 0 auto;
    .top-picks-content-label{
      margin-bottom: 1rem;
      font-weight: bold;
      color: @font-color-1;
      font-size: 1.5rem;
    }
    .content-carousel-wrapper{
      margin: 0.5rem;
      display: flex;
      justify-content: center;
      .content-carousel-detail{
        flex-wrap: nowrap;
        border: solid 2px @font-color-2;
        border-radius: 0.5rem;
        padding: 0.7rem;
        width: 11rem;
        height: 14rem;
        &:hover{
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          border: solid 2px @font-color-3;
         
        }
        .carousel-image-container{
          text-align: center;
        }
        .content-carousel-detail-label{
          font-size: 1rem;
          line-height: 1;
          color: #5B5B5B;
          font-weight: bold;
          font-family: Helvetica;
        }
        .lower-content-container{
          display: inline-flex;
          width: 90px;
        }
        .rating-star-container{
          display: inline-flex;
        }
        .rating-star-wrapper{
          width: 10px;
          height: 10px;
        }
        .location-image{
          display: inline-flex;
          width: 10px;
          height: 10px;
        }
        .distance{
          display: inline-flex;
          padding-left: 0.2rem;
          color: #5B5B5B;
          font-weight: bold;
          font-size: 0.8rem;
        }
      }
    }
  }
}