@edible-color: #009966;
@shadow-color: rgba(0,0,0,0.3);
@default-shadow: 0px 13px 21px -10px @shadow-color;
@background-color: #F1EBE6;
@font-color-1: #5B5B5B;
@font-color-2: #DDDDDD;
@font-color-3: #A6A6A6;
@font-color-4: #EBEBEB;

.input{
  color: @font-color-1;
  ::placeholder {
    color: red;
  }

  &:focus{
    border: 1px @font-color-2 solid;
  }
}
.default-border{
   border-radius: 0.5rem;
   border: 0;
}
.button:hover{
  color: white;
  opacity: 0.9;
}

.default-border {
  border-radius: 0.5rem;
}
.default-margin {
  margin: 1.5rem 1rem 2rem 1.5rem;
}
.edible-bg-color {
  background-color: @edible-color;
}
.v-margin {
  margin: 0.7rem 0 0.7rem 0;
}
.h-margin {
  margin: 0 0.7rem 0 0.7rem;
}

.white-text {
  color: white;
}
.red-text{
  color: #cf000e;
}
.edible-color-text {
  color: @edible-color;
}
body {
  font-family: "Montserrat";
}

.google-bg-color {
  background-color: #d43a27;
}

.fb-bg-color {
  background-color: #3b5998;
}

.default-bg-color {
  background-color: @background-color;
}

.white-fill {
  fill: #ffffff;
}

.inline {
  display: inline;
}

.separator {
  width: 100%;
  height: 0.05rem;
  background-color: #bcbcbc;
}

.v-margin-2 {
  margin: 1.5rem 0 1.5rem 0;
}
