<template>
  <div class="home-wrapper">
    <div class="section">
      <Recommend />
      <TopPick />
      <BoP />
    </div>
  </div>
</template>
<script>
import Recommend from "../components/Recommend";
import TopPick from "../components/TopPick";
import BoP from "../components/BoP";
export default {
  components: {
    Recommend,
    TopPick,
    BoP
  }
};
</script>
<style></style>
