<template>
  <div class="login-page container default-bg-color">
    <section class="section">
      <div class="columns has-text-centered is-centered">
        <div class="column is-half">
          <h1 class="title is-3 has-text-weight-bold">Sign in</h1>
          <h5 class="subtitle is-6 has-text-weight-light">with your social network</h5>
          <p class="control has-icons-left">
            <a
              class="button is-fullwidth fb-bg-color white-text has-text-weight-bold v-margin default-border"
            >Sign in with Facebook</a>
            <span class="icon is-small is-left">
              <i class="fab fa-facebook white-fill"></i>
            </span>
          </p>
          <p class="control has-icons-left">
            <a
              class="button is-fullwidth google-bg-color white-text has-text-weight-bold v-margin default-border"
            >Sign in with Google</a>
            <span class="icon is-small is-left">
              <i class="fab fa-google"></i>
            </span>
          </p>
          <div class="divider v-margin">
            <h1 class="background">
              <span class="subtitle is-7 has-text-weight-bold h-margin">OR</span>
            </h1>
          </div>
          <div class="subtitle red-text is-7" v-if="!isDataValid">Invalid username / password</div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input is-shadowless default-border"
                id="input-email"
                type="email"
                placeholder="Email"
                v-bind="user.name"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                class="input is-shadowless default-border"
                type="password"
                placeholder="Password"
                v-bind="user.password"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <a
            class="button is-fullwidth edible-bg-color white-text has-text-weight-bold is-shadowless v-margin default-border"
            @click="validateUser"
          >Sign in</a>
          <a
            href="/password-reset"
            class="v-margin edible-color-text subtitle is-7"
          >Forgot your password?</a><br><br>

          <p class="default-margin inline">Already have an account?</p>
          <span>
            <a class="edible-color-text" href="/login">Sign in</a>
          </span>
        </div>
      </div>
    </section>
  </div>
</template> 

<script>
export default {
  data() {
    return {
      user: {
        email: "mortandy@gmail.com",
        password: "tes123"
      },
      isDataValid: true
    };
  },
  methods: {
    validateUser() {
      if (this.user.name && this.user.password) {
        this.isDataValid = true;
        window.location.href = "/";
      } else {
        this.isDataValid = false;
      }
    }
  }
};
</script>

