<template>
  <div class="password-reset container default-bg-color">
    <section class="section">
      <div class="columns has-text-centered is-centered">
        <div class="column is-three-quarters">
          <div class="title is-3 has-text-weight-bold is-spaced">Password Reset</div>
          <div class="subtitle is-6">
            Enter your
            <strong>edible username</strong>, or the
            <strong>email address</strong>
            that you used to register. We'll send you an email with your username and a link to reset your password.
          </div>
          <div
            class="subtitle is-7 has-text-weight-bold has-text-left"
            id="emailusername"
          >Email address or username</div>
          <input class="input is-shadowless">
          <a
            class="button is-black is-outlined has-text-weight-bold is-rounded v-margin"
          >Send</a>
        </div>
      </div>
    </section>
  </div>
</template>
