<template>
  <div class="preferences container default-bg-color">
    <div class="section">
      <div class="columns has-text-centered is-centered">
        <div class="column is-three-quarters">
          <div class="title is-3 is-spaced preference-text">Set your preferences</div>
          <div
            class="subtitle is-6 preference-subtext"
          >Which food categories would you like to search? (pick at least 3)</div>
          <div class="subtitle is-6 red-text" v-if="isItemLessThan3">Please pick at least 3 categories</div>
          <a>
            <div
              class="circle"
              @click="handleSelectedItem(item)"
              v-for="item in items"
              :key="item.id"
            >
              <img
                src="../assets/Icons/success-blue.svg"
                class="check-icon"
                :class="[item.checked ? 'show-check' : '']"
              >
              <img :src="(item.img)" class="img-wrapper">
              <p class="category-text smaller-text">{{item.name}}</p>
            </div>
          </a>
          <a
            class="button is-fullwidth edible-bg-color white-text has-text-weight-bold is-shadowless v-margin is-rounded"
          @click="checkItemCount()">Submit</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedItem: null,
      itemCount: 0,
      items: [
        {
          name: "Fruits",
          img: require("../assets/Icons/apple.svg"),
          checked: false
        },
        {
          name: "Veggies",
          img: require("../assets/Icons/salad.svg"),
          checked: false
        },
        {
          name: "Snacks",
          img: require("../assets/Icons/pop-corn.svg"),
          checked: false
        },
        {
          name: "Dairy",
          img: require("../assets/Icons/dairy.svg"),
          checked: false
        },
        {
          name: "Seasonings",
          img: require("../assets/Icons/seasoning.svg"),
          checked: false
        },
        {
          name: "Basic Food",
          img: require("../assets/Icons/bowl-of-white-rice.svg"),
          checked: false
        },
        {
          name: "Canned Food",
          img: require("../assets/Icons/canned-food.svg"),
          checked: false
        },
        {
          name: "Meat",
          img: require("../assets/Icons/meat.svg"),
          checked: false
        },
        {
          name: "Baby Food",
          img: require("../assets/Icons/feeding-bottle.svg"),
          checked: false
        }
      ]
    };
  },
  methods: {
    handleSelectedItem(item) {
      if (item.checked) {
        item.checked = false
        this.itemCount--
      } else {
        item.checked = true
        this.itemCount++
      }
      console.log(this.itemCount)
    },
  },
  checkitemCount(){
    if(this.itemCount > 3) {
      this.isItemLessThan3 = false
      window.location.href = '/'
    }
    else {
      this.isItemLessThan3 = true
    }
  }
};
</script>

