<template>
  <div class="profile-wrapper container">
    <div class="section">
      <div class="columns">
        <div class="column profile-card is-two-fifths">
          <img :src="(user.img)" class="profile-img">
          <div class="user-text-info">
            <span class="title is-5">{{user.name}}</span>
            <br>
            <span class="subtitle is-6">Joined {{user.joinDate}}</span>
            <br>
            <span class="subtitle is-6">{{user.location}}</span>
          </div>
        </div>
        <div class="column review-column is-three-fifths">
          <span class="stars-wrapper">
            <img src="../assets/Icons/star.png" class="individual-star">
          </span>
          <span class="subtitle">({{user.reviewsCount}} Reviews)</span>
          <div class="user-review">
              <div class="profile-container">
            <img :src="(review[0].img)" class="profile-img">
              </div>
            <div class="review-detail">
              <span class="stars-wrapper">
                <img src="../assets/Icons/star.png" class="individual-star">
              </span><br>
              <span class="title is-7 reviewer-name">by <a>{{review[0].name}}</a></span><br>
              <span class="subtitle is-7 reviewer-comment">{{review[0].comment}}</span><br>
              <span><img src="../assets/Icons/clock.svg" class="clock"></span><span class="review-date subtitle is-7">{{review[0].date}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        img: require("../assets/profilepic.jpg"),
        name: "User",
        bio: "bio test",
        location: "jaksel",
        joinDate: "10 des",
        rating: 4,
        reviewsCount: 2,
      },
      review: [
        {
          name: "lalala",
          rating: 4,
          comment: "review ini",
          date: "14 Jan",
          img: require("../assets/profilepic.jpg")
        }
      ]
    };
  }
};
</script>
