<template>
  <div class="register-page container default-bg-color">
    <section class="section">
      <div class="columns has-text-centered is-centered">
        <div class="column is-half">
          <h1 class="title is-3 has-text-weight-bold">Sign Up</h1>
          <h5 class="subtitle is-6 has-text-weight-light">with your social network</h5>
          <div class="sosmed-btn">
            <p class="control has-icons-left">
              <a
                class="button is-fullwidth fb-bg-color white-text has-text-weight-bold v-margin default-border"
              >Sign up with Facebook</a>
              <span class="icon is-small is-left">
                <i class="fab fa-facebook white-fill"></i>
              </span>
            </p>
            <p class="control has-icons-left">
              <a
                class="button is-fullwidth google-bg-color white-text has-text-weight-bold v-margin default-border"
              >Sign up with Google</a>
              <span class="icon is-small is-left">
                <i class="fab fa-google"></i>
              </span>
            </p>
          </div>
          <div class="divider v-margin">
            <h1 class="background">
              <span class="subtitle is-7 has-text-weight-bold h-margin">OR</span>
            </h1>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                v-model="user.name"
                required
                class="input is-shadowless default-border"
                type="text"
                placeholder="Name"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input
                v-model="user.email"
                class="input is-shadowless default-border"
                id="input-email"
                type="email"
                placeholder="Email"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                v-model="user.password"
                class="input is-shadowless default-border"
                type="password"
                placeholder="Password"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input
                v-model="user.confirmPassword"
                class="input is-shadowless default-border"
                type="password"
                placeholder="Confirm Password"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <a
            class="button is-fullwidth edible-bg-color white-text has-text-weight-bold is-shadowless v-margin inline default-border"
          >Sign up</a>
          <p class="default-margin inline">Already have an account?</p>
          <span>
            <a class="edible-color-text" href="/login">Sign in</a>
          </span>
        </div>
      </div>
    </section>
  </div>
</template> 

<script>

export default {
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    };
  },
};
</script>

