<template>
  <div class="BoP">
    <div class="BoP-wrapper">
      <div class="BoP-content">
        <section class="BoP-content-label">Based on Your Preferences</section>
        <carousel
          :perPage="1"
          :perPageCustom="[[1277, 5], [960, 3], [640, 1]]"
          :navigationEnabled="true"
          :paginationEnabled="false"
          :scrollPerPage="false"
        >
          <slide v-for="(user, index) in users" :key="index">
            <div class="BoP-content-carousel-wrapper">
              <div class="BoP-content-carousel-detail">
                <div class="BoP-carousel-image-container">
                  <img class="BoP-carousel-image" :src="user.url" alt="" />
                </div>
                <div class="BoP-content-carousel-detail-label">
                  Tomato
                </div>
                <div class="BoP-lower-content-container">
                  <div class="BoP-rating-star-container">
                    <div
                      class="BoP-rating-star-wrapper"
                      v-for="(rating, index) in user.ratings"
                      :key="index"
                    >
                      <img src="../assets/Icons/star.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="BoP-location-image">
                  <img src="../assets/location.svg" />
                </div>
                <div class="BoP-distance">{{ user.distance }}km</div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from "vue-carousel";

export default {
  data() {
    return {
      users: [
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP1.png"),
          distance: 10
        },
        {
          userId: "",
          ratings: 3,
          location: "",
          url: require("../assets/BoP2.png"),
          distance: 100
        },
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP3.png"),
          distance: 2
        },
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP4.png"),
          distance: 6
        },
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP3.png"),
          distance: 10
        },
        {
          userId: "",
          ratings: 3,
          location: "",
          url: require("../assets/BoP4.png"),
          distance: 100
        },
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP1.png"),
          distance: 2
        },
        {
          userId: "",
          ratings: 4,
          location: "",
          url: require("../assets/BoP3.png"),
          distance: 6
        }
      ]
    };
  },
  components: {
    Carousel,
    Slide
  }
};
</script>
<style></style>
