<template>
  <div class="footers">
    <div class="footer-content-container">
      <div class="icon-wrapper">
        <img class="footer-icon" src="../assets/Icons/twitter.svg" alt="" />
      </div>
      <div class="icon-wrapper">
        <img class="footer-icon" src="../assets/Icons/facebook.svg" alt="" />
      </div>
      <div class="icon-wrapper">
        <img
          class="footer-icon"
          src="../assets/Icons/instagram_PNG8.svg"
          alt=""
        />
      </div>
    </div>
    <div class="footer-label">
      @2019 edible
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style></style>
