<template>
  <nav class="navbar navbar-wrapper" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <img src="../assets/edible-logo.svg">
      </a>

      <a
        role="button"
        class="navbar-burger"
        data-target="navMenu"
        aria-label="menu"
        aria-expanded="false"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="search-box">
      <p class="control has-icons-right is-rounded">
        <input class="input default-border is-shadowless" type="text" placeholder="Search edible...">
        <span class="icon is-small is-right">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/login" class="white-text has-text-weight-bold">Create an Offer</a>
        </div>
        <div class="navbar-item">
          <div class="vertical-separator"></div>
        </div>
        <div class="navbar-item">
          <a href="/register" class="white-text">Register</a>
        </div>

        <div class="navbar-item">
          <a href="/login" class="white-text">Log in</a>
        </div>
      </div>
    </div>
  </nav>
</template>


<script>
export default {};
document.addEventListener("DOMContentLoaded", () => {
  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(
    document.querySelectorAll(".navbar-burger"),
    0
  );

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach(el => {
      el.addEventListener("click", () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle("is-active");
        $target.classList.toggle("is-active");
      });
    });
  }
});
</script>
