<template>
  <div class="maps-wrapper">
    <div class="section">
      <div class="columns">
        <div class="column is-fourth-fifths">
          <div class="title is-5 has-text-centered is-spaced">Choose your location</div>
          <div
            class="subtitle is-6"
          >Now, choose your home location so people know where to pick up your food</div>
          <div class="search-box default-border">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Where is your location?">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
