<template>
  <div class="recommend">
    <div class="recommend-wrapper">
      <div class="recommend-content">
        <section class="recommend-content-label">Recommended Categories</section>
        <section class="content-image-wrapper">
          <section class="content-image">
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/apple.svg" alt>
              </div>
              <div class="i-label">Fruits</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/salad.svg" alt>
              </div>
              <div class="i-label">Veggies</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/pop-corn.svg" alt>
              </div>
              <div class="i-label">Snacks</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/dairy.svg" alt>
              </div>
              <div class="i-label">Dairy Products</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/seasoning.svg" alt>
              </div>
              <div class="i-label">Seasonings</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/bowl-of-white-rice.svg" alt>
              </div>
              <div class="i-label">Basic Food</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/canned-food.svg" alt>
              </div>
              <div class="i-label">Canned Food</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/meat.svg" alt>
              </div>
              <div class="i-label">Meat</div>
            </div>
            <div>
              <div class="img-container">
                <img class="img-wrapper" src="../assets/Icons/feeding-bottle.svg" alt>
              </div>
              <div class="i-label">Baby Food</div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {}
};
</script>
<style>
</style>
