<template>
  <div class="starting-page">
    <div class="content-wrapper">
      <Header />
      <router-view></router-view>
    </div>
    <Footer class="app-footer" />
  </div>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/footer";
export default {
  components: {
    Header,
    Footer
  }
};
</script>
